<div class="pointer-events-auto flex-1 lg:flex-none lg:w-[500px] flex flex-col h-full bg-white/10 dark:bg-[#0b1214]/90 backdrop-blur-sm shadow-2xl transition-all">
  <p-tabs [scrollable]="true" (valueChange)="selectTab($event)" [value]="tab" class="flex-1 flex flex-col overflow-hidden">
    <p-tablist>
      <p-tab value="rotina">
        <span class="material-symbols-outlined !text-[22px]">
          map_pin_review
        </span>
        Rotinas
      </p-tab>
      <p-tab value="bipe">
        <span class="material-symbols-outlined !text-[22px]">
          alarm_on
        </span>
        Bipes
      </p-tab>
    </p-tablist>
    <p-tabpanels class="flex-1 overflow-y-auto">
      <p-tabpanel value="rotina">
        <app-routines/>
      </p-tabpanel>
      <p-tabpanel value="bipe">
        <app-bipes></app-bipes>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
