<div [class.hidden]="callState === 'IDLE'"
     class="flex items-center justify-between w-full px-4 py-2 bg-slate-900 text-white shadow-md z-50 transition-all duration-300">

  <div class="flex items-center gap-3">
    <div class="relative flex items-center justify-center w-10 h-10 bg-slate-800 rounded-full">
      <i class="pi pi-phone text-emerald-400" *ngIf="callState === 'IN_CALL'"></i>
      <i class="pi pi-phone animate-pulse text-yellow-400" *ngIf="callState === 'RINGING'"></i>
      <i class="pi pi-phone animate-pulse text-blue-400" *ngIf="callState === 'OUTGOING'"></i>
    </div>
    <div class="flex flex-col">
      <span class="text-sm font-semibold truncate max-w-[150px] md:max-w-[300px]">
        {{ callInfo?.userName || callInfo?.deviceId || 'Desconhecido' }}
      </span>
      <span class="text-xs text-slate-400" *ngIf="callState === 'RINGING'">Chamada recebida...</span>
      <span class="text-xs text-slate-400" *ngIf="callState === 'OUTGOING'">Chamando...</span>
      <span class="text-xs text-emerald-400" *ngIf="callState === 'IN_CALL'">{{ callDuration }}</span>
    </div>
  </div>

  <div class="flex items-center gap-2">
    <audio #remoteAudio autoplay playsinline controls class="h-8 w-40"></audio>
    <!-- Atender (Apenas se Ringing) -->
    <button *ngIf="callState === 'RINGING'"
            pButton type="button"
            icon="pi pi-phone"
            class="p-button-rounded p-button-success p-button-sm shadow-md"
            (click)="acceptCall()">
    </button>

    <!-- Recusar (Apenas se Ringing) -->
    <button *ngIf="callState === 'RINGING'"
            pButton type="button"
            icon="pi pi-phone"
            class="p-button-rounded p-button-danger p-button-sm shadow-md rotate-[135deg]"
            (click)="rejectCall()">
    </button>

    <!-- Desligar (Se em chamada ou chamando) -->
    <button *ngIf="callState === 'IN_CALL' || callState === 'OUTGOING'"
            pButton type="button"
            icon="pi pi-phone"
            class="p-button-rounded p-button-danger p-button-sm shadow-md rotate-[135deg]"
            (click)="hangupCall()">
    </button>
  </div>

  
</div>
<div *ngIf="resposta" class="p-2 bg-red-500/40 text-red-100 text-white text-xs font-semibold text-center shadow-sm transition-all duration-300">
  {{ resposta }}
</div>