<div class="flex flex-col gap-4 p-4">
  <div class="flex items-center gap-3">
    <button pButton type="button" label="Disparar chamada" class="p-button-sm" (click)="start()"></button>
    <button pButton type="button" label="Encerrar" class="p-button-sm p-button-secondary" (click)="stop()"></button>
  </div>

  <div class="grid gap-4 sm:grid-cols-2  overflow-y-auto max-h-[350px]">
    <div class="rounded-3xl border border-slate-200 bg-white p-4 shadow-sm dark:border-slate-800 dark:bg-slate-950">
      <h3 class="text-sm font-semibold text-slate-900 dark:text-slate-100 mb-3">Mensagens locais</h3>
      <ul class="space-y-2 text-xs text-slate-500 dark:text-slate-400">
        <li *ngFor="let mensagem of mensagensLocal">{{ mensagem.tipo }}</li>
      </ul>
    </div>
    <div class="rounded-3xl border border-slate-200 bg-white p-4 shadow-sm dark:border-slate-800 dark:bg-slate-950">
      <h3 class="text-sm font-semibold text-slate-900 dark:text-slate-100 mb-3">Mensagens remotas</h3>
      <ul class="space-y-2 text-xs text-slate-500 dark:text-slate-400">
        <li *ngFor="let mensagem of mensagensRemoto">{{ mensagem.tipo }}</li>
      </ul>
    </div>
  </div>

  <div class="grid gap-4 sm:grid-cols-2">

    <div class="space-y-2">
      <div class="text-xs font-semibold uppercase text-slate-500 dark:text-slate-400">Audio remoto</div>
      <audio #remoteAudio autoplay controls class="w-full rounded-2xl bg-slate-100 dark:bg-slate-900"></audio>
    </div>
  </div>
</div>
